<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectepis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectePiS">
        <activity
            android:name=".Calendario"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity android:name=".CrearEvento"
            android:exported="false"/>
        <activity android:name=".EventoDestacado"
            android:exported="false"/>
        <activity
            android:name=".ResetPass"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:parentActivityName=".InicioChatActivity" />
        <activity
            android:name=".SolicitudesActivity"
            android:exported="false"
            android:parentActivityName=".InicioChatActivity" />
        <activity
            android:name=".VerAmigosActivity"
            android:exported="false"
            android:parentActivityName=".InicioChatActivity" />
        <activity
            android:name=".PerfilUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".BuscarAmigosActivity"
            android:parentActivityName=".InicioChatActivity" />
        <activity
            android:name=".GrupoChatActivity"
            android:exported="false" />
        <activity
            android:name=".InicioChatActivity"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>